<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpq8kBhOPq6G2B20R4cs1JelNJHMRmXKM</string>
	<key>GCM_SENDER_ID</key>
	<string>949332932145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project4</string>
	<key>PROJECT_ID</key>
	<string>novelreader-a9018</string>
	<key>STORAGE_BUCKET</key>
	<string>novelreader-a9018.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949332932145:ios:de90e47e2f414a65f54710</string>
	<key>DATABASE_URL</key>
	<string>https://novelreader-a9018-default-rtdb.firebaseio.com</string>
</dict>
</plist>